# Compiled Object files
*.slo
*.lo
*.o
*.obj
<memory>

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
yurtcraft

# Qt user files
*.pro.user*

# Log files
demo-log.txt
